public/js/app/admin/add-uid.jade
//
   Created by kimduk on 16.08.15.

.containder
    .well
        form.form-horizontal(name="addUidForm")
            filedset
                legend New UID Information
                .form-group
                    label.col-md-2.control-label(for="uid") UID
                    .col-md-6
                        input.form-control(name="newUid", type="number", placeholder="UID", ng-model="newUid", required)
                    .col-md-1
                        button.btn.btn-sm.btn-success(ng-click="generateUid()", type="button") Generate uid
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-6
                        input.form-control(name="password", type="text", placeholder="Password", ng-model="password", required)
                    .col-md-1
                        button.btn.btn-sm.btn-success(ng-click="generatePwd()", type="button") Generate Pwd
                .form-group
                    label.col-md-2.control-label(for="avatar") Avatar URL
                    .col-md-6
                        input.form-control(name="avatar", type="text", placeholder="Avatar url", ng-model="avatar")
                .form-group
                    .col-md-6.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="addUid()", type="button", ng-disabled="addUidForm.$invalid") Create
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel

public/js/app/admin/add-uid.html
<!--Created by kimduk on 16.08.15.
--><div class="containder"><div class="well"><form name="addUidForm" class="form-horizontal"><filedset><legend>New UID Information</legend><div class="form-group"><label for="uid" class="col-md-2 control-label">UID</label><div class="col-md-6"><input name="newUid" type="number" placeholder="UID" ng-model="newUid" required="required" class="form-control"/></div><div class="col-md-1"><button ng-click="generateUid()" type="button" class="btn btn-sm btn-success">Generate uid</button></div></div><div class="form-group"><label for="password" class="col-md-2 control-label">Password</label><div class="col-md-6"><input name="password" type="text" placeholder="Password" ng-model="password" required="required" class="form-control"/></div><div class="col-md-1"><button ng-click="generatePwd()" type="button" class="btn btn-sm btn-success">Generate Pwd</button></div></div><div class="form-group"><label for="avatar" class="col-md-2 control-label">Avatar URL</label><div class="col-md-6"><input name="avatar" type="text" placeholder="Avatar url" ng-model="avatar" class="form-control"/></div></div><div class="form-group"><div class="col-md-6 col-md-offset-2"><div class="pull-right"><button ng-click="addUid()" type="button" ng-disabled="addUidForm.$invalid" class="btn btn-primary">Create</button>&nbsp;<a href="/" class="btn btn-default">Cancel</a></div></div></div></filedset></form></div></div>
