server/views/index.jade
extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") NetworkService
                    h6  Uniting people
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                div(ng-include="'/partials/account/navbar-sign-in'")
    section.content
        div(ng-view)
    .container.text-center
        b All Information about NetService
        &nbsp;
        a(href="https://www.dropbox.com/s/e0wvu5zcjqebmlp/NetworkServicedocumentation.pdf?dl=0", target="_blank") Download link
    .container.text-center
        b Documentation to NetService
        &nbsp;
        a(href="/docs/index.html", target="_blank") Documentary link
    footer.container.text-center
        p &copy; 2015 NetworkService Uniting Ltd.

server/views/index.html
<!--Created by kimduk on 15.08.15.
--><!DOCTYPE html><html><head><title>NetworkService - We are Uniting people</title><link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"><link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"><link href="/vendor/toastr/toastr.min.css" rel="stylesheet"><link href="/css/main.css" rel="stylesheet"><base href="/"></head><body ng-app="app"><!--Created by kimduk on 16.08.15.
--><div class="navbar navbar-inverse navbar-fixed-top"><div class="container"><div class="navbar-header"><a href="/" class="navbar-brand">NetworkService<h6> Uniting people</h6></a></div><div class="navbar-collapse collapse"><ul class="nav navbar-nav"><li><a href="/">Home</a></li></ul><div ng-include="'/partials/account/navbar-sign-in'"></div></div></div></div><section class="content"><div ng-view></div></section><div class="container text-center"><b>All Information about NetService</b>&nbsp;<a href="https://www.dropbox.com/s/e0wvu5zcjqebmlp/NetworkServicedocumentation.pdf?dl=0" target="_blank">Download link</a></div><div class="container text-center"><b>Documentation to NetService</b>&nbsp;<a href="/docs/index.html" target="_blank">Documentary link</a></div><footer class="container text-center"><p>&copy; 2015 NetworkService Uniting Ltd.</p></footer><!--Created by kimduk on 15.08.15.
--><script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script><script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script><script type="text/javascript" src="/vendor/angular/angular.min.js"></script><script type="text/javascript" src="/vendor/toastr/toastr.min.js"></script><script type="text/javascript" src="/vendor/angular-resource/angular-resource.min.js"></script><script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script><script type="text/javascript" src="/js/app/app.js"></script><script type="text/javascript" src="/js/app/main/nsMainCtrl.js"></script><script type="text/javascript" src="/js/app/account/nsLoginCtrl.js"></script><script type="text/javascript" src="/js/app/account/nsProfileCtrl.js"></script><script type="text/javascript" src="/js/app/account/nsFriendsCtrl.js"></script><script type="text/javascript" src="/js/app/account/nsAuth.js"></script><script type="text/javascript" src="/js/app/account/nsFriends.js"></script><script type="text/javascript" src="/js/app/account/nsUser.js"></script><script type="text/javascript" src="/js/app/common/nsIdentity.js"></script><script type="text/javascript" src="/js/app/common/nsNotifier.js"></script><script type="text/javascript" src="/js/app/admin/nsUserListCtrl.js"></script><script type="text/javascript" src="/js/app/admin/nsAddUidCtrl.js"></script></body></html>
