public/js/app/account/friends.html
<!--Created by kimduk on 17.08.15.
--><div class="container"><div class="row"><div ng-include="'/partials/account/sidebar'" class="col-sm-3 col-md-2 sidebar"></div><div class="col-sm-9 col-md-9"><table class="table table-striped"><thead><th> Avatar</th><th class="text-center"> Connection</th></thead><tr ng-repeat="friend in friends"><td class="col-md-2 list-avatar"><img src="{{ friend.invitedInfo[0].avatar }}" ng-show="{{ !!friend.invitedInfo[0].avatar }}" alt="{{ friend.invitedId }}" title="{{ friend.invitedId }}" class="img-rounded"/><img src="http://www.kazvideo.kz/img/default-avatar.png" ng-hide="{{ !!friend.invitedInfo[0].avatar }}" alt="{{ friend.invitedId }}" title="{{ friend.invitedId }}" class="img-rounded"/></td><td class="col-md-8 text-center">{{ friend.inviterId }} - {{ friend.invitedId }}</td><td class="col-md-2 text-center"><!--button.btn.btn-success.btn-sm(type="button", title="Confirmed Friendship", ng-show="{{ !friend.inviterConfirm }}")--><!--    span.glyphicon.glyphicon-ok-circle TODO: CONFIREMED SYSTEM--><button type="button" title="Delete from friends" ng-click="removeFriend(friend._id)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-ban-circle"></span></button></td></tr></table></div></div></div>

public/js/app/account/friends.jade
//
   Created by kimduk on 17.08.15.

.container
    .row
        .col-sm-3.col-md-2.sidebar(ng-include="'/partials/account/sidebar'")
        .col-sm-9.col-md-9
            table.table.table-striped
                thead
                    th  Avatar
                    th.text-center  Connection
                tr(ng-repeat="friend in friends")
                    td.col-md-2.list-avatar
                        img(src="{{ friend.invitedInfo[0].avatar }}", ng-show="{{ !!friend.invitedInfo[0].avatar }}", class="img-rounded", alt="{{ friend.invitedId }}", title="{{ friend.invitedId }}")
                        img(src="http://www.kazvideo.kz/img/default-avatar.png", ng-hide="{{ !!friend.invitedInfo[0].avatar }}", class="img-rounded", alt="{{ friend.invitedId }}", title="{{ friend.invitedId }}")
                    td.col-md-8.text-center {{ friend.inviterId }} - {{ friend.invitedId }}
                    td.col-md-2.text-center
                        //button.btn.btn-success.btn-sm(type="button", title="Confirmed Friendship", ng-show="{{ !friend.inviterConfirm }}")
                        //    span.glyphicon.glyphicon-ok-circle TODO: CONFIREMED SYSTEM
                        button.btn.btn-danger.btn-sm(type="button", title="Delete from friends", ng-click="removeFriend(friend._id)")
                           span.glyphicon.glyphicon-ban-circle
