public/js/app/account/navbar-sign-in.jade
//
   Created by kimduk on 16.08.15.

.navbar-right(ng-controller="nsLoginCtrl")
    ul.nav.navbar-nav
        li(ng-show="identity.currentUser.isAdmin()")
            a(href="/admin/add-uid") Add UID
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(placeholder="Your UID", ng-model="uid")
        &nbsp
        .form-group
            input.form-control(type="password", placeholder="Your password", ng-model="password")
        &nbsp
        button.btn.btn-primary(ng-click="signin(uid, password)") Sign In
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | Welcome
                | {{identity.currentUser.uid}}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users/") User Admin
                li
                    a(href="/profile") Profile
                li
                    a(href="", ng-click="signout()") Sign Out

public/js/app/account/navbar-sign-in.html
<!--Created by kimduk on 16.08.15.
--><div ng-controller="nsLoginCtrl" class="navbar-right"><ul class="nav navbar-nav"><li ng-show="identity.currentUser.isAdmin()"><a href="/admin/add-uid">Add UID</a></li></ul><form ng-hide="identity.isAuthenticated()" class="navbar-form"><div class="form-group"><input placeholder="Your UID" ng-model="uid" class="form-control"/></div>&nbsp<div class="form-group"><input type="password" placeholder="Your password" ng-model="password" class="form-control"/></div>&nbsp<button ng-click="signin(uid, password)" class="btn btn-primary">Sign In</button></form><ul ng-show="identity.isAuthenticated()" class="nav navbar-nav navbar-right"><li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle">Welcome
{{identity.currentUser.uid}}<b class="caret"></b></a><ul class="dropdown-menu"><li ng-show="identity.currentUser.isAdmin()"><a href="/admin/users/">User Admin</a></li><li><a href="/profile">Profile</a></li><li><a href="" ng-click="signout()">Sign Out</a></li></ul></li></ul></div>
