public/js/app/account/profile.jade
//
   Created by kimduk on 17.08.15.

.container
    .row
        .col-sm-3.col-md-2.sidebar(ng-include="'/partials/account/sidebar'")
        .col-sm-9.col-md-9
            h1 User Profile
            .row.profile-info
                .col-xs-6.col-sm-3.profile-uid
                    span.text-info Your UID:
                    |  {{ identity.currentUser.uid }}
                .col-xs-6.col-xs-offset-6.col-md-3.col-md-offset-3.profile-img
                    img(src="{{ identity.currentUser.avatar }}", ng-show="{{ !!identity.currentUser.avatar }}", class="img-circle", alt="{{ identity.currentUser.uid }}", title="{{ identity.currentUser.uid }}")
                    img(src="http://www.kazvideo.kz/img/default-avatar.png", ng-hide="{{ !!identity.currentUser.avatar }}", class="img-circle", alt="{{ identity.currentUser.uid }}", title="{{ identity.currentUser.uid }}")

public/js/app/account/profile.html
<!--Created by kimduk on 17.08.15.
--><div class="container"><div class="row"><div ng-include="'/partials/account/sidebar'" class="col-sm-3 col-md-2 sidebar"></div><div class="col-sm-9 col-md-9"><h1>User Profile</h1><div class="row profile-info"><div class="col-xs-6 col-sm-3 profile-uid"><span class="text-info">Your UID:</span> {{ identity.currentUser.uid }}</div><div class="col-xs-6 col-xs-offset-6 col-md-3 col-md-offset-3 profile-img"><img src="{{ identity.currentUser.avatar }}" ng-show="{{ !!identity.currentUser.avatar }}" alt="{{ identity.currentUser.uid }}" title="{{ identity.currentUser.uid }}" class="img-circle"/><img src="http://www.kazvideo.kz/img/default-avatar.png" ng-hide="{{ !!identity.currentUser.avatar }}" alt="{{ identity.currentUser.uid }}" title="{{ identity.currentUser.uid }}" class="img-circle"/></div></div></div></div></div>
