public/js/app/account/sign-in-form.jade
//
   Created by kimduk on 15.08.15.

.panel.panel-primary
    .panel-heading.text-center Sign In
    .panel-body Inputs here

.panel.panel-primary
    .panel-heading.text-center Users List
    .panel-body
        div(ng-repeat="user in users | filter:{deleted:0}")
            .row
                .col-md-2
                    img(src="{{ user.avatar }}", class="img-rounded", alt="{{ user.uid }}", title="{{ user.uid }}")
                .col-md-10.text-center {{ user.uid }}
            hr

public/js/app/account/sign-in-form.html
<!--Created by kimduk on 15.08.15.
--><div class="panel panel-primary"><div class="panel-heading text-center">Sign In</div><div class="panel-body">Inputs here</div></div><div class="panel panel-primary"><div class="panel-heading text-center">Users List</div><div class="panel-body"><div ng-repeat="user in users | filter:{deleted:0}"><div class="row"><div class="col-md-2"><img src="{{ user.avatar }}" alt="{{ user.uid }}" title="{{ user.uid }}" class="img-rounded"/></div><div class="col-md-10 text-center">{{ user.uid }}</div></div><hr/></div></div></div>
